 .item h2 {
     border: 0.1rem solid rgb(22, 36, 51);
     padding: 3.5rem;
     font-size: 1.5rem;
     font-style: italic;

 }

 .item {
     padding 3.5rem;
     display: flex;
     direction: rtl;
 }

 .amer {

     width: 500px;
     height: 640px;
 }
