 .item h2 {
  
     padding: 4.5rem;
     font-size: 1.8rem;
     font-style: italic;
 
 }

 .item {
     border: 0.2rem solid rgb(22, 36, 51);
     padding 3.5rem;
     display: flex;
     direction: rtl;
 }

 .amer {

     width: 500px;
     height: 560px;
 }
